<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>765968841202-mrc7k1hq7ba8q3254fqitlim8aec2b3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765968841202-mrc7k1hq7ba8q3254fqitlim8aec2b3q</string>
	<key>API_KEY</key>
	<string>AIzaSyDGY3sTbnXUv7_wxJVZtZuercK1G5pXAko</string>
	<key>GCM_SENDER_ID</key>
	<string>765968841202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trionagle.custompods.Watchit</string>
	<key>PROJECT_ID</key>
	<string>reservenow-e28fc</string>
	<key>STORAGE_BUCKET</key>
	<string>reservenow-e28fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:765968841202:ios:41afd3892294f017c6936b</string>
</dict>
</plist>
